@import url('https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Alice", serif;
  }
  
  header, footer {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 1em;
  }
  